<header class="flex items-center justify-between gap-xs">
  <a href="<%= relative_url "/" %>">
    <h1>My Site</h1>
  </a>

  <nav>
    <ul class="flex items-center justify-end gap-sm">
      <li><a href="<%= relative_url '/' %>">Posts</a></li>
    </ul>
  </nav>
</header>
